.spinner {
    left:50%;
    top:50%;
    margin-left:550px;
}

.mu-latest-course-img img{
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.mu-price{
    color: rebeccapurple;
    font-weight: bold;
    font-size: 25px;
}

.mu-apartir{
    color: black;
}

