.spinner {
    left:50%;
    top:50%;
    margin-left:550px;
}

.mu-latest-course-img img{
    max-width: 700px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.mu-single-gallery-img img{
    max-width: 370px;
    max-height: 220px;
    width: auto;
    height: auto;
}


.mu-price{
    color: rebeccapurple;
    font-weight: bold;
    font-size: 25px;
}

.mu-apartir{
    color: black;
}

#mu-footer .mu-footer-top {
    background-color: #5d4a5d;
    display: inline;    
    padding: 50px 0;
}

.mu-page-breadcrumb-area{
    background-color: #242958;
}

#mu-page-breadcrumb{
    background-color: #242958;
}

.image-logo{
    max-width: 140px;
    max-height: 140px;
    width: 115px;
    height: 55px;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 9px;
    overflow: visible !important;
}

